body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    height: 100vh;
    background: #262525;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.btns {
    width: 350px;
    display: flex;
    justify-content: space-around;
    margin: 70px 0;
}

@media (min-width: 600px) {
    .btns {
        width: 650px;
        margin: 90px 20px;
    }   
}

@media (max-width: 600px) {
    .text {
        display: none;
    }
    .symbol {
        font-size: 3rem;
        text-transform: lowercase;
        font-weight: normal;
        text-shadow: none;
    }
}

@media (min-width: 601px) {
    .symbol {
        display: none;
    }
}

button {
    font-size: 1.1rem;
    width: 80px;
    height: 80px;
    background: #ff8400;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    transform: scale(1);
}

@media (min-width: 600px) {
    button {
        width: 140px;
        height: 140px;
        font-size: 1.1rem;
    }   
}


button:hover,
button:focus {
    background: #ffd000;
    transform: scale(.9);
    transition: transform 250ms;
    cursor: pointer;
    color: #000;
    text-shadow: none;
}

.span {
    display: flex;
    justify-content: space-around;
    width: 150px;
    font-size: 2.5rem;
}

@media (min-width: 600px) {
    .span {
        font-size: 3.8rem;
        width: 200px;
    }
}

#num1-el,
#num2-el {
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
}

#sum-el {
    font-size: 3rem;
    padding: 4px 8px;
    border-bottom: 2px solid #ff8400;
}

@media (min-width: 600px) {
    #sum-el {
        font-size: 4rem;
    }
}